@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.container_imagem_fundo{
    background-image: url(../images/chatbot.jpg);
    width: 100%;
    height: 350px;
}
.header_titulo{
    font-size: 100px;
    color: #edeef0 ;
    text-align: center;
}
.background{
    background-color: #008efe;
    width: 100%;
    height: 100%;
}
.body{
    background-color:#edeef0;
    width: 1100px;
    height: 100%;
    margin: auto;
}
.container_1{
    display: flex;
    align-items: center;
}
.img_1{
    width: 50%;
    margin: 50px;
}
.container_1 p {
    padding: 30px;
    font-size: 20px;
    line-height: 30px;
}
.container_1 a{
    margin-left: 30px;
    font-size: 25px;
    text-decoration: none;
    color:black;
    border: 1px solid #008efe;
    padding: 10px;
}
.container_1 a:hover{
    color: blueviolet ;
    border-color: blueviolet;
}
.container_1 h1{
    font-size: 40px;
    margin-left: 30px;
    color: #502595;
    font-weight: bold;
}
.container_2{
    padding: 100px;
    flex-wrap: wrap;
    width: 100%;
}
.container_2 img{
    width: 220px;
    height: 220px;
}
footer{
    width: 100%;
    background-color: #502595;
    height: 150px;
}
footer h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 50px;
    color:#edeef0;
}